.BarChartElementContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

  height: 15rem;

  padding: 2rem;
  border: 1px solid orange;
}

/* Define an animation for the bar chart element */
@keyframes slideInFromBottom {
  from {
    height: 0rem;
  }
  to {
    /* height: 100%; */
  }
}

.BarChartElement {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

  width: 1rem;
  /* height: 100%; */

  animation-name: slideInFromBottom;
  animation-duration: 2s;
  animation-delay: 0.5s;
}

.BarChartElementBar {
  width: 100%;
  height: auto;
  min-height: 100%;

  margin: 0rem 1rem;

  border-radius: 25px;
  background-color: #f4a688;
}

.BarChartElementLabel {
  color: #777;
  font-size: 1rem;
  margin-top: 1rem;
}
