.ResultBoxContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  width: 60vw;
}

@media screen and (max-width: 1024px) {
  .ResultBoxContainer {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    width: auto;
  }
}
