.SearchBoxContainer {
  position: relative;
  padding: 0 0 0 20px;
  margin: 0 20px;
}

/* This magnifier icon will be shown inside the input box */
.SearchBoxIcon {
  position: absolute;
  bottom: 25px;
  right: 10px;

  width: 30px;
  height: auto;
}

.SearchBoxInput {
  height: 20px;
  margin: 0;
  width: 50vw;
  height: 2rem;

  font-size: 2rem;
  font-weight: 100;
  color: #777;

  padding: 25px;
  padding-right: 50px;

  text-align: center;
  border: 1px solid #eee;
  border-radius: 1rem;
}

@media screen and (max-width: 640px) {
  .SearchBoxContainer {
    margin: 0 5px;
  }

  .SearchBoxInput {
    width: 70vw;
    font-size: 1.5rem;
  }

  .SearchBoxIcon {
  }
}
