.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.SearchBoxContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 5rem auto;

  border: 1px solid red;

  width: 60vw;
  height: 60vh;
}

@media screen and (max-width: 640px) {
  .SearchBoxContainer {
    width: 90vw;
  }
}
