.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 2rem;
}

.SearchContainer {
  display: flex;
  flex-direction: center;
  justify-content: center;
  align-items: center;

  height: 30vh;
  width: 90vw;
  margin: auto;
  border: 1px solid red;
}

.SearchError {
  font-size: 1rem;
  color: red;
}

.ResultContainer {
  display: flex;
  flex-direction: center;
  justify-content: center;
  align-items: center;

  height: 60vh;
  width: 90vw;
  margin: auto;
  border: 1px solid blue;
}
